/**** BASE STYLES ****/
body {
    font-family: 'Archivo', sans-serif;
    width: 100vw;
}

/**** NAVIGATION BAR ****/

nav {
    width: 100vw;
    margin: 20px 0;
    background-color: white;
    display: fixed;
}
nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    width: 20%;
    float: left;
    text-align: right;
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

nav ul li a {
    display: block;
    width: 30%;
    text-decoration: none;
    color: #FE77C5;
    padding: 2vw;
}

@media only screen and (max-width: 500px) {
    ul {
        flex-direction: column;
    }

    li {
        margin: 0;
    }

    a {
        display: block;
    }
}

header {
    background-image: url("sunflower.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    display: block;
}

header h1 {
    font-size: 100px;
    color: #FE77C5;
    text-align: right;
    position: absolute;
    bottom: 0px;
}

#about_me {
    background-color:#FE77C5;
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding-top: 50px;
}

.about_me {
    font-size: 55px;
    text-align: right;
    padding-right: 100px;
}

p {
    text-align: right;
    padding-left: 300px;
    padding-right: 50px;
    font-size: 18px;
}
#work {
    color: #FE77C5;
}

.work {
    font-size: 55px;
}

a {
    color: #FE77C5;
}



@media only screen and (max-width: 768px) {
    #columns {
       display: block;
    }
}